    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Crafted with <a href="https://en.wikipedia.org/wiki/Charhdi_Kala">Chaṛdī Kalā</a> and <span class="glyphicon glyphicon-heart" style="color:#F79CC2"> </span> for the Sikh Nation.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>